body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  margin-top: 20px;
}

#content {
  margin-top: 20px;
}

.input {
  margin-right: 0.5rem;
  min-width: 20rem;
}
